/*
    Image
*/
   .image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
   }

   .image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #833ab4; 
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
   }
   .image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
   }

   .image_outer_container .green_icon{
     background-color: #4cd137;
     position: absolute;
     right: 30px;
     bottom: 10px;
     height: 30px;
     width: 30px;
     border:5px solid white;
     border-radius: 50%;
   }
/*
    Image
*/

.h7 {
    font-size: 0.8rem;
}

.comment-box {
    border: 2px solid black;
}

/*
    Comment Box
*/
.media-list {
    padding: 0px 0px;
}

.media-list .media {
    padding: 5px 20px;
    border-bottom: 1px solid #eaeaea;
}

.media-list .media .media-body {
    padding: 2px 15px 2px;
}

.media-list .media .media-object {
    width: 50px;
}

.scroll-widget{
    overflow: hidden;
    width: auto;
    height: 325px;
}
/*
    Comment Box
*/

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
}