<ul>
	<li>
		<a target="_blank" href="https://www.facebook.com/jay.depala1">

			<i class="fa fa-facebook" aria-hidden="true"> </i>
		</a>
	</li>
	<li>
		<a target="_blank" href="https://twitter.com/jaidepala">

			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a target="_blank" href="https://plus.google.com/109163447967185019998">

			<i class="fa fa-google-plus" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a target="_blank" href="https://in.linkedin.com/in/jay-depala-787484131">

			<i class="fa fa-linkedin" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a target="_blank" href="https://www.instagram.com/jaidepala/">

			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
	</li>
</ul>
